/* Regular */
/* Medium */
/* semibold */
/* bold */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  line-height: 1.3;
}

ul {
  list-style: none;
}

body {
  background-color: black;
}

h1, h2, h3, h4, h5 {
  font-family: "Libre Baskerville", serif;
}

p, span, a, button {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
}

.btn__primary {
  border: none;
  outline: none;
  display: inline-block;
  width: 14rem;
  height: 2.55rem;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: #F1B164;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-size: 16.5px;
  color: #000000;
  font-weight: 500;
}
.btn__primary:hover {
  background-color: rgb(236.775147929, 153.4615384615, 53.224852071); /* Oscurecer al pasar */
}

#nav {
  position: fixed;
  border-bottom: 1px solid #504C47;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}
#nav .nav__top {
  display: none;
}
#nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .navbar .logo {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
}
#nav .navbar .menu {
  position: absolute;
  top: 100%;
  background-color: #504C47;
  transform: translateY(-500px);
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
#nav .navbar .menu li {
  border-bottom: 1px solid rgba(230, 230, 230, 0.438);
  height: 100%;
  width: 100%;
  text-align: center;
  padding-block: 1.5rem;
}
#nav .navbar .menu li:nth-child(1) {
  border-top: 1px solid rgba(230, 230, 230, 0.438);
}
#nav .navbar .menu li:hover {
  background-color: #F1B164;
}
#nav .navbar .menu li a {
  font-size: 1.375rem;
  color: #FAFAFA;
  font-weight: 400;
}
#nav .navbar .show-menu {
  transform: translateY(0);
}
#nav .navbar .nav__icons i {
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #FAFAFA;
}

@media (min-width: 1025px) {
  #nav {
    height: 127px;
  }
  #nav .nav__top {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid #504C47;
  }
  #nav .nav__top .nav-top-text {
    margin-inline: 2rem;
    font-size: 15px;
    color: #FAFAFA;
    font-weight: 400;
  }
  #nav .navbar {
    margin-top: 0.4rem;
    padding-inline: 119px;
  }
  #nav .navbar .menu {
    position: static;
    width: initial;
    display: flex;
    background-color: transparent;
    transform: translateY(0);
    flex-direction: row;
    gap: 3rem;
  }
  #nav .navbar .menu li {
    padding-block: 0;
    border-bottom: none;
  }
  #nav .navbar .menu li:nth-child(1) {
    border-top: none;
  }
  #nav .navbar .menu li:hover {
    background-color: transparent;
  }
  #nav .navbar .menu li a {
    transition: 0.3s ease;
  }
  #nav .navbar .menu li a:hover {
    color: #F1B164;
  }
  #nav .navbar .nav__icons {
    display: none;
  }
}
header {
  width: 100%;
  height: 87vh;
  background-image: url(/public/images/hero\ images/hero.webp);
  background-position: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero {
  z-index: 2;
  position: relative;
  color: #FAFAFA;
  text-align: center;
  padding-inline: 7px;
  padding-top: 8rem;
  letter-spacing: 0.5px;
}
.hero h1 {
  font-size: 2.675rem;
  color: #FAFAFA;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.hero span {
  display: block;
  font-size: 1.1575rem;
  color: #FAFAFA;
  font-weight: 400;
  margin-bottom: 1.9rem;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .hero h1 {
    font-size: 3.48125rem;
  }
}
@media (min-width: 1025px) {
  .hero h1 {
    font-size: 4.2875rem;
  }
  .hero span {
    font-size: 1.425rem;
  }
}
header {
  width: 100%;
  height: 87vh;
  background-image: url(/public/images/hero\ images/hero.webp);
  background-position: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

#nav {
  position: fixed;
  border-bottom: 1px solid #504C47;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}
#nav .nav__top {
  display: none;
}
#nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .navbar .logo {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
}
#nav .navbar .menu {
  position: absolute;
  top: 100%;
  background-color: #504C47;
  transform: translateY(-500px);
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
#nav .navbar .menu li {
  border-bottom: 1px solid rgba(230, 230, 230, 0.438);
  height: 100%;
  width: 100%;
  text-align: center;
  padding-block: 1.5rem;
}
#nav .navbar .menu li:nth-child(1) {
  border-top: 1px solid rgba(230, 230, 230, 0.438);
}
#nav .navbar .menu li:hover {
  background-color: #F1B164;
}
#nav .navbar .menu li a {
  font-size: 1.375rem;
  color: #FAFAFA;
  font-weight: 400;
}
#nav .navbar .show-menu {
  transform: translateY(0);
}
#nav .navbar .nav__icons i {
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #FAFAFA;
}

@media (min-width: 1025px) {
  #nav {
    height: 127px;
  }
  #nav .nav__top {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid #504C47;
  }
  #nav .nav__top .nav-top-text {
    margin-inline: 2rem;
    font-size: 15px;
    color: #FAFAFA;
    font-weight: 400;
  }
  #nav .navbar {
    margin-top: 0.4rem;
    padding-inline: 119px;
  }
  #nav .navbar .menu {
    position: static;
    width: initial;
    display: flex;
    background-color: transparent;
    transform: translateY(0);
    flex-direction: row;
    gap: 3rem;
  }
  #nav .navbar .menu li {
    padding-block: 0;
    border-bottom: none;
  }
  #nav .navbar .menu li:nth-child(1) {
    border-top: none;
  }
  #nav .navbar .menu li:hover {
    background-color: transparent;
  }
  #nav .navbar .menu li a {
    transition: 0.3s ease;
  }
  #nav .navbar .menu li a:hover {
    color: #F1B164;
  }
  #nav .navbar .nav__icons {
    display: none;
  }
}
.hero {
  z-index: 2;
  position: relative;
  color: #FAFAFA;
  text-align: center;
  padding-inline: 7px;
  padding-top: 8rem;
  letter-spacing: 0.5px;
}
.hero h1 {
  font-size: 2.675rem;
  color: #FAFAFA;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.hero span {
  display: block;
  font-size: 1.1575rem;
  color: #FAFAFA;
  font-weight: 400;
  margin-bottom: 1.9rem;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .hero h1 {
    font-size: 3.48125rem;
  }
}
@media (min-width: 1025px) {
  .hero h1 {
    font-size: 4.2875rem;
  }
  .hero span {
    font-size: 1.425rem;
  }
}

/*# sourceMappingURL=style.css.map */
