.value{
    background-color: $secondary-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .value__flex{
        display: flex;
        flex-direction: column;

       p{
        padding-top: 1rem;
                padding-bottom: 1rem;
        padding-right: 1rem;
        font-weight: $font-weight-regular;
       }
    }

    .value__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4.5rem;
        .value__box{
            display: flex;
            gap: 1rem;
                h5{
                    color: $primary-color;
                    font-size: 1.170rem;
                font-weight: $font-weight-semibold;
            }

            .icon__box{
                background-color: $primary-color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 61px;
                padding: 1rem;
                border-radius: 50%;

                i{
                    color: $black-color;
                    font-size: 1.8rem;
                }
            }

            .value__text{
                display: flex;
                flex-direction: column;
                gap: .4rem;

                p{
                    font-size: 1.1rem;
                    font-weight: $font-weight-regular;
                }
            }
        }
    }
}


@include respond-to(desktop){
    .value{
        .value__flex{
            p{
                text-align: center;
                max-width: 40%;
                margin: 0 auto;
                padding-top: 1.5rem;
                padding-bottom: 4rem;
                font-size: 23px;
                padding-right: 0rem;
            }
        }

        .value__grid{
            grid-template-columns: repeat(3,1fr);
            gap: 5rem;
            
            .value__box{
                h5{
                    font-size: 1.2rem;
                }

                .value__text{
                    width: 100%;
                }
            }
        }
    }
}