#nav{
    position: fixed;
    border-bottom: 1px solid $grey-color;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index:10;

    // NAV TOP 

    .nav__top{
        display: none;
    }

    .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                display: flex;
                justify-content: center;
                margin-left: 1.5rem;
            }

            .menu{
                position: absolute;
                top: 100%;
                background-color: $grey-color;
                transform: translateY(-500px);
                flex-direction: column;
                align-items: center;
                width: 100%;
                transition: transform 0.3s ease-in-out;
                overflow: hidden;

                li {
                    border-bottom: 1px solid rgba(230, 230, 230, 0.438);
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    padding-block: 1.5rem;
                    
                    &:nth-child(1){
                        border-top: 1px solid rgba(230, 230, 230, 0.438);
                    }

                    &:hover{
                        background-color: $primary-color
                    }
                    
                        a{
                            @include font-style($font-size-links,$white-color,$font-weight-regular);
                        }
                }
            }

            .show-menu{
                transform: translateY(0);
            }

            .nav__icons i{
                font-size: 2.2rem;
                margin-right: 1.5rem;
                color: $white-color;
            }
        }
}


@include respond-to(desktop){
    #nav{
        height: 127px;
        
        .nav__top{
            display: flex;
            align-items: center;
            padding: .5rem;
            justify-content: space-between;
            border-bottom: 1px solid $grey-color;
            .nav-top-text{
                margin-inline: 2rem;
                @include font-style(15px,$white-color,$font-weight-regular)
            }
        }

        .navbar{
            margin-top: .4rem;
            padding-inline: $padding-inline-desktop;

            .menu{
                position: static;
                width: initial;
                display: flex;
                background-color: transparent;
                transform: translateY(0);
                flex-direction: row;
                gap: 3rem;

                li{
                    padding-block: 0;
                    border-bottom: none;

                    &:nth-child(1){
                        border-top: none;
                    }
                    &:hover{
                        background-color: transparent;
                    }

                    a{
                        transition: .3s ease;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }

            .nav__icons{
                display: none;
            }
        }
    }
}