/* Estilos generales */
.navbar {
    background-color: $secondary-color;
}

.navbar-toggler-icon {
    width: 45px;
    height: 40px; 
}

/* Logo más pequeño */
.navbar-brand img {
    max-width: 65px; /* Tamaño del logo */
    height: auto;
}

.navbar-nav .nav-link {
    font-size: 1.3rem; 
    padding: 0.8rem 1.5rem; 
    color: $white-color;
}

.navbar-nav .nav-link:hover {
    background-color: #3a4454; 
    color: $white-color;
}

/* Estilos para el dropdown */
.navbar-nav .dropdown-menu {
    background-color: $secondary-color; /* Fondo del dropdown */
    border: none;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: $white-color; 
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #3a4454; 
}

/* Móvil: ajustes */
@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        font-size: 1.2rem; /* Tamaño de los links */
        padding: 1rem 2rem; /* Más espacio entre los links */
    }

    .navbar-nav .dropdown-menu {
        background-color: #272d39; /* Color del fondo del dropdown */
    }

    /* Hacer visible el dropdown cuando se clickea */
    .navbar-nav .dropdown.show .dropdown-menu {
        display: block !important;
    }
}

/* Escritorio: ajustes */
@media (min-width: 992px) {

    .navbar{
        background-color: transparent;
    }
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block; /* Mostrar el dropdown al pasar el mouse */
    }

    .navbar-nav .nav-link {
        font-size: 1.3rem; 
        margin-inline: .7rem;
        padding: 0.8rem 1.5rem; 
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        padding: 1rem 0.5rem; /* Ajustar el tamaño de los elementos del dropdown */
    }
}
