.navbar {
    background-color: $secondary-color;
}

.navbar-toggler-icon {
    width: 45px;
    height: 40px; 
}

.navbar-brand img {
    max-width: 65px; 
    height: auto;
}

.navbar-nav .nav-link {
    font-size: 1.3rem; 
    padding: 0.8rem 1.5rem; 
    color: $white-color;
}

.navbar-nav .nav-link:hover {
    background-color: $primary-color; 
    color: $white-color;
}

.navbar-nav .dropdown-menu {
    background-color: $secondary-color; 
    border: none;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: $white-color; 
    font-size: 1.1rem;
    padding: 0.5rem 1.3rem;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: $primary-color; 
}

/* Móvil: ajustes */
@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        font-size: 1.3rem; 
        padding: 1rem 2rem; 
    }

    .navbar-nav .dropdown-menu {
        background-color: #272d39; /* Color del fondo del dropdown */
    }

    /* Hacer visible el dropdown cuando se clickea */
    .navbar-nav .dropdown.show .dropdown-menu {
        display: block !important;
    }

    /* Navbar fijo solo en móviles */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 100%;
    }
    
    body {
        padding-top: 80px; 
    }
}

@media (min-width: 992px) {
    .navbar {
        position: relative !important; 
        background-color: transparent;
        border-bottom: 1px solid $grey-color;
        
    }
    
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block; 
    }
    
    .navbar-nav .nav-link {
        font-size: 1.3rem; 
        margin-inline: .7rem;
        padding: 0.8rem 1.5rem; 
    }
    
    .navbar-nav .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }
    
    .navbar-nav .dropdown-menu .dropdown-item {
        padding: 1rem 0.5rem; 
    }
}
