*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    line-height: 1.3;
}

ul{
    
    list-style: none;
}


body{
    // background-color: $white-color
    background-color: black;
}