

h1,h2,h3,h4,h5{
    font-family: $font-family-primary;
}

p,span,a,button{
    font-family: $font-family-secondary;
}

a{
    text-decoration: none !important;
}

p{
    // @include font-style($font-size-base,$black-color,$font-weight-regular);
    font-size: clamp(1.130rem,5vw,1.230rem);
    line-height:1.4;
}


h2{
    font-size: clamp(1.830rem,5vw,2rem);
    line-height: 1.3 !important;
}

.span__title{
    color: $primary-color;
    font-family: $font-family-primary;
    padding-bottom: 2rem;
}

.section__title{
    text-align: center;
    @include font-style(28px,$white-color,$font-weight-regular);
    padding-top: 60px;
    padding-bottom: 50px;
}