// 2. Tipografías
$font-family-primary: 'Libre Baskerville', serif;
$font-family-secondary: 'Lato', sans-serif;


$font-weight-regular: 400; /* Regular */
$font-weight-medium: 500; /* Medium */
$font-weight-semibold: 600; /* semibold */
$font-weight-bold: 700; /* bold */